# Env
my_env

# Dir
app/__pycache__
app/models/__pycache__
app/routes/__pycache__

config/__pycache__
middleware/__pycache__

scheduler/__pycache__

script/__pycache__

logs

instance

# File
*.pyc
*.enc
secret.key