<h1>Selamat datang</h1>

<!-- value default jika id <> result -->
<div id="result">
    <p>Mendeteksi browser...</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, quod?</p>
</div>

    <button id="testBtn">Test Secure Endpoint</button>

    <pre id="output"></pre>

    <script>
    document.getElementById("testBtn").addEventListener("click", async () => {
        try {
            // 1. Ambil key dari server
            let keyRes = await fetch("/get-key");
            let keyData = await keyRes.json();
            if (keyData.status !== "success") {
                document.getElementById("output").textContent = JSON.stringify(keyData, null, 2);
                return;
            }

            let apiKey = keyData.api_key;

            // 2. Akses secure endpoint dengan header
            let secureRes = await fetch("/secure", {
                headers: {
                    "X-API-Key": apiKey
                }
            });
            let secureData = await secureRes.json();

            document.getElementById("output").textContent = JSON.stringify(secureData, null, 2);
        } catch (err) {
            document.getElementById("output").textContent = err;
        }
    });
    </script> -->